.pagination{
    display: flex;
    max-width: 280px;
    width: 100%;
    justify-content: space-between;
    margin: 0 auto;
    text-align: center;
    align-content: center;

    &__number{
        margin: 0;
        width: 30px;
        height: 20px;
        color: white;
        font-weight: 500;
        font-size: 16px;
        line-height: 19.5px;
        transition: color 0.2s linear;

        &-current-page{
            color: #E1242D;
        }

        &:hover{
            cursor: pointer;
            color: #E1242D;
        }
    }

    @media screen and (max-width: 500px) {
        display: none;
    }
}