.element{
    display: flex;
    flex-direction: column;
    width: 418px;
    height: 488px;
    border-radius: 20px;
    border: 1px solid #fff;
    overflow: hidden;
    position: relative;

    &__image{
        z-index: -1;
        width: 420px;
        height: 300px;
        object-fit: cover;
        margin-bottom: -40px;
    }

    &__gradient{
        height: 300px;
        width: 420px;
        position: absolute;
        background: linear-gradient(180deg, rgba(45, 47, 52, 0) 83.33%, #2D2F34 100%);
    }

    &__text{
        display: flex;
        flex-direction: column;
        align-items: center;

        &-title{
            display: flex;
            align-items: center;
            position: relative;
            top: -18px;
            z-index: 2;
            font-size: 24px;
            margin: 0;
            line-height: 29.26px;
            font-weight: 700;
            text-align: center;
            color: #fff;
            max-width: 380px;
            min-height: 100px;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;

        }

        &-main{
            max-height: 80px;
            width: 380px;
            font-size: 14px;
            line-height: 17.07px;
            font-weight: 400;
            margin: 2px 20px 0;
            color: #fff;
            display: -webkit-box;
            -webkit-line-clamp: 4;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    &__info{
        display: flex;
        justify-content: space-between;
        margin: 22px 20px 20px;
        color: white;
        font-weight: 700;
        font-size: 14px;
        line-height: 17.07px;

        &-author{
            margin: 0;
        }

        &-date{
            margin: 0;
        }
    }

    &:hover{
        cursor: pointer;
    }

    @media screen and (max-width: 550px) {
        width: 330px;
        height: 315px;

        &__image{
            margin-bottom: -1px;
            width: 330px;
            height: 180px;
        }

        &__gradient{
            width: 330px;
            height: 180px;
        }

        &__text{
            &-title{
                font-size: 14px;
                line-height: 17.07px;
                max-width: 280px;
                min-height: 40px;
                margin: 0;
            }

            &-main{
                font-size: 12px;
                line-height: 14.63px;
                width: 300px;
                min-height: 45px;
                margin-top: -3.5px;
                -webkit-line-clamp: 3;
            }
        }

        &__info{
            font-size: 12px;
            line-height: 14.63px;
            margin: 16px 15px 20px;
        }
    }
}